<!DOCTYPE html>
<html>
<head>
	<title>Leroy Merlin Parser</title>
</head>
<body>
<p><strong><span style="font-size:16px"><span style="font-family:Verdana,Geneva,sans-serif">Скачайте каталог скобяных изделий Leroy Merlin в формате .xlsx</span></span></strong></p>

<p><strong><span style="font-size:16px"><span style="font-family:Verdana,Geneva,sans-serif">Загрузка может занимать до 3 минут. Все данные взяты с российского <a href="https://leroymerlin.ru/" target="_blank">сайта</a></span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-family:Verdana,Geneva,sans-serif">Список категорий</span></p>

<ol>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Крепеж</span>

	<ol>
		<li><a href="/leroymerlin_parser/get_excel/samorezy"><span style="font-family:Verdana,Geneva,sans-serif">Саморезы</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/bolty-i-vinty"><span style="font-family:Verdana,Geneva,sans-serif">Болты и винты</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/ankery"><span style="font-family:Verdana,Geneva,sans-serif">Анкеры</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/organayzery-dlya-melochey"><span style="font-family:Verdana,Geneva,sans-serif">Органайзер для мелочи</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/specialnyy-krepezh"><span style="font-family:Verdana,Geneva,sans-serif">Специальный крепеж</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/dyubeli"><span style="font-family:Verdana,Geneva,sans-serif">Дюбели</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/gayki"><span style="font-family:Verdana,Geneva,sans-serif">Гайки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/gvozdi"><span style="font-family:Verdana,Geneva,sans-serif">Гвозди</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/himicheskie-ankery-i-aksessuary"><span style="font-family:Verdana,Geneva,sans-serif">Химические анкеры и аксессуары</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/santehnicheskiy-krepezh"><span style="font-family:Verdana,Geneva,sans-serif">Сантехнический крепеж</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/homuty-styazhki"><span style="font-family:Verdana,Geneva,sans-serif">Хомуты-стяжки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/shayby-krepezhnye"><span style="font-family:Verdana,Geneva,sans-serif">Шайбы крепежные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/dyubel-gvozdi-i-dyubel-shurupy"><span style="font-family:Verdana,Geneva,sans-serif">Дюбель-гвозди и дюбель-шурупы</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/krepleniya-bez-sverleniya"><span style="font-family:Verdana,Geneva,sans-serif">Крепления без сверления</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Товары для безопасности</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/zamki-trosovye"><span style="font-family:Verdana,Geneva,sans-serif">Замки тросовые</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/detskaya-bezopasnost-v-dome"><span style="font-family:Verdana,Geneva,sans-serif">Детская безопасность в доме</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/lenty-signalnye"><span style="font-family:Verdana,Geneva,sans-serif">Ленты сигнальные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/shkafy-dlya-klyuchey-i-aptechki"><span style="font-family:Verdana,Geneva,sans-serif">Шкафы для ключей и аптечки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/signalnaya-odezhda"><span style="font-family:Verdana,Geneva,sans-serif">Сигнальная одежда</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/parkovochnoe-oborudovanie"><span style="font-family:Verdana,Geneva,sans-serif">Парковочное оборудование</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Перфорированные крепежные элементы</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/ugolki-krepezhnye"><span style="font-family:Verdana,Geneva,sans-serif">Уголки крепежные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/plastiny-krepezhnye"><span style="font-family:Verdana,Geneva,sans-serif">Пластины крепежные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/derzhateli-i-krepezhnye-kronshteyny"><span style="font-family:Verdana,Geneva,sans-serif">Держатели и крепежные кронштейны</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/lenty-montazhnye-perforirovannye"><span style="font-family:Verdana,Geneva,sans-serif">Ленты монтажные перфорированные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/krepleniya-dlya-balki"><span style="font-family:Verdana,Geneva,sans-serif">Крепления для балки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/profili-metallicheskie-i-pvh"><span style="font-family:Verdana,Geneva,sans-serif">Профили металлические и ПВХ</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/truby-i-prutki"><span style="font-family:Verdana,Geneva,sans-serif">Трубы и прутки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/fiksatory-dlya-armatury"><span style="font-family:Verdana,Geneva,sans-serif">Фиксаторы для арматуры</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/metallicheskie-listy"><span style="font-family:Verdana,Geneva,sans-serif">Металлические листы</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Мебельная фурнитура</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/sistema-dzhoker"><span style="font-family:Verdana,Geneva,sans-serif">Система Джокер</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/mebelnye-kolesa"><span style="font-family:Verdana,Geneva,sans-serif">Мебельные колеса</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/mebelnyy-krepezh"><span style="font-family:Verdana,Geneva,sans-serif">Мебельный крепеж</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/zamki-i-zashchelki-mebelnye"><span style="font-family:Verdana,Geneva,sans-serif">Замки и защелки мебельные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/nakladki-i-nasadki-na-mebelnye-nozhki"><span style="font-family:Verdana,Geneva,sans-serif">Накладки и насадки на мебельные ножки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/mebelnye-nozhki-i-opory"><span style="font-family:Verdana,Geneva,sans-serif">Мебельные ножки и опоры</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/petli-i-dovodchiki-dlya-mebeli"><span style="font-family:Verdana,Geneva,sans-serif">Петли и доводчики для мебели</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/napravlyayushchie-dlya-yashchikov"><span style="font-family:Verdana,Geneva,sans-serif">Направляющие для ящиков</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/lameli-i-komplektuyushchie"><span style="font-family:Verdana,Geneva,sans-serif">Ламели и комплектующие</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/napravlyayushchie-dlya-shkafov-i-dverey-kupe"><span style="font-family:Verdana,Geneva,sans-serif">Направляющие для шкафов и дверей купе</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Декор для мебели</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/mebelnye-ruchki"><span style="font-family:Verdana,Geneva,sans-serif">Мебельные ручки</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/dekorativnye-elementy-dlya-mebeli"><span style="font-family:Verdana,Geneva,sans-serif">Крючки и вешалки настенные</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/kryuchki-i-veshalki-nastennye"><span style="font-family:Verdana,Geneva,sans-serif">Декоративные элементы для мебели</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/vosk-dlya-restavracii-mebeli"><span style="font-family:Verdana,Geneva,sans-serif">Воск для реставрации мебели</span></a></li>
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Фурнитура для ворот, ограждений и перил</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/kovanye-elementy"><span style="font-family:Verdana,Geneva,sans-serif">Кованые элементы</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/opory-dlya-peril"><span style="font-family:Verdana,Geneva,sans-serif">Опоры для перил</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/zadvizhki-dlya-vorot"><span style="font-family:Verdana,Geneva,sans-serif">Задвижки для ворот</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/petli-dlya-vorot"><span style="font-family:Verdana,Geneva,sans-serif">Петли для ворот</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/ruchki-skladnye"><span style="font-family:Verdana,Geneva,sans-serif">Ручки складные</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Почтовые ящики и декоративные элементы для зданий</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/pochtovye-yashchiki"><span style="font-family:Verdana,Geneva,sans-serif">Почтовые ящики</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/flyugery-i-vyveski"><span style="font-family:Verdana,Geneva,sans-serif">Флюгеры и вывески</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/zamki-pochtovye"><span style="font-family:Verdana,Geneva,sans-serif">Замки почтовые</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Такелаж</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/cepi-trosy-i-shnury"><span style="font-family:Verdana,Geneva,sans-serif">Цепи, тросы и шнуры</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/talrepy"><span style="font-family:Verdana,Geneva,sans-serif">Талрепы</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/zazhimy-dlya-trosov"><span style="font-family:Verdana,Geneva,sans-serif">Зажимы для тросов</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/bloki-dlya-trosov"><span style="font-family:Verdana,Geneva,sans-serif">Блоки для тросов</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/kolca-dlya-klyuchey"><span style="font-family:Verdana,Geneva,sans-serif">Кольца для ключей</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/karabiny"><span style="font-family:Verdana,Geneva,sans-serif">Карабины</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/remni-i-styazhki-dlya-krepleniya-gruza"><span style="font-family:Verdana,Geneva,sans-serif">Ремни и стяжки для крепления груза</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/kryuki-dlya-trosov"><span style="font-family:Verdana,Geneva,sans-serif">Крюки для тросов</span></a></li>
		<li><a href="/leroymerlin_parser/get_excel/koushi"><span style="font-family:Verdana,Geneva,sans-serif">Коуши</span></a><br />
		&nbsp;</li>
	</ol>
	</li>
	<li><span style="font-family:Verdana,Geneva,sans-serif">Аэрозоли и смазки</span>
	<ol>
		<li><a href="/leroymerlin_parser/get_excel/smazki-i-zhidkie-klyuchi"><span style="font-family:Verdana,Geneva,sans-serif">Смазки и жидкие ключи</span></a></li>
	</ol>
	</li>
</ol>
</body>
</html>
